# Ambiente de Execução (development, production)
NODE_ENV=development
PORT=4000
FRONTEND_URL=https://meu-omni.app.br

# Segurança
JWT_SECRET=super-secret-change-me-in-production

# Banco de Dados MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=seu_usuario
DB_PASSWORD=sua_senha_forte
DB_NAME=omni
